<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><b>Some Website</b></title>
    <p><a href='/'>Home</a></p>
    <p><a href='/hello'>Greeting</a></p>
  </head>
  <body>

  <header>
    <h1>{{pageTitle}}</h1>
  </header>
  <p>Sup Troy :D</p>


  </body>
</html>
